@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 1700px;
  background-color: #000000;
  background-image: url("../components/images/forestBG.png");
  background-size: cover;

}

h5, h4, h3, h2, h1, p {
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.creds {
  padding: 50px;
}

.scroll-text {
  cursor: pointer;
}

.custom-button {
  background-color: #7bbe6e;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #5a8b50
}
